openapi: 3.1.0
info:
  title: InfraNode API
  version: 1.0.0
  description: >-
    Open-Source-Proxy-REST-API für normalisierte offene Daten deutscher
    Großstädte. Bekannt sind 84 Städte über 100.000 Einwohner, davon 28
    Kern-Städte mit voller Quellen-Abdeckung; weitere Städte werden über
    AGS- und geobasierte Quellen bedient. Jede Antwort folgt demselben
    kanonischen Envelope (data/meta/attribution) mit Lizenz-Tag und ehrlichem
    source_status (ok/no_data/disabled/not_covered). Teilabgedeckte Endpunkte
    (flood, webcams, traffic, road-events) liefern für eine nicht-abgedeckte
    Stadt 200 source_status="not_covered" + meta.covered_cities statt eines
    leeren "ok"; die Abdeckung listet die Seite /abdeckung. Pfade tragen den vollen
    /api/v1-Prefix, damit die ausgelieferte Spec driftfrei zu den live
    registrierten Routen bleibt.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://infranode.dev
    description: Öffentliche gehostete API, keylos (Standard)
  - url: http://localhost
    description: Lokaler Caddy-Ingress (Docker Compose)
tags:
  - name: meta
    description: Meta- und Diagnose-Routen (Health, Ping, Source-Status, Spec)
  - name: cities
    description: Stadt-Register und normalisierte Stadt-Stammdaten
  - name: compare
    description: Multi-City-Vergleich einer Ressource über mehrere Städte
  - name: Live
    description: >-
      Getrennte Live-Kategorie unter /api/v1/live. Minutenfrische bzw.
      quasi-live Quellen mit eigenem Envelope-Kennzeichen: meta.as_of
      (Datenstand) und meta.refresh_seconds (Kadenz). Re-exponiert zusätzlich
      bestehende Live-Endpunkte (air, air-uba, water-level, traffic, webcams,
      flood); deren Altpfade unter /api/v1/cities bleiben als Deprecation-Alias
      erhalten (kein Breaking Change).
  - name: stations
    description: >-
      Per-Bahnhof-Live-Boards unter /api/v1/stations/{eva}. Abfahrten/Ankünfte
      JEDES DB-Bahnhofs über seine EVA-Nummer (aus dem Katalog
      /cities/{slug}/stations), alle Gattungen inkl. Nahverkehr, mit Echtzeit-
      Verspätung und Störungen/Meldungen. Quelle: DB Timetables (CC BY 4.0).
paths:
  /api/v1/health:
    get:
      tags: [meta]
      summary: Liveness und Readiness der App prüfen
      x-summary-en: Check app liveness and readiness
      description: >-
        Liefert den App-Status und die Redis-Erreichbarkeit. Gedacht für
        Uptime-Monitore und Load-Balancer-Probes: antwortet mit 200, sobald die
        App bereit ist, sonst mit einem Fehlerstatus.
      x-description-en: >-
        Returns the app status and Redis reachability. Designed for uptime
        monitors and load-balancer probes: responds with 200 once the app is
        ready, otherwise with an error status.
      operationId: getHealth
      responses:
        "200":
          description: App läuft
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
  /api/v1/ping:
    get:
      tags: [meta]
      summary: Einfacher Ping mit Correlation-ID
      x-summary-en: Simple ping with correlation ID
      description: >-
        Gibt eine Pong-Antwort inklusive correlation_id zurück und schreibt eine
        strukturierte JSON-Log-Zeile mit request_id. Nützlich, um die
        Request-Verkettung im Logging zu prüfen.
      x-description-en: >-
        Returns a pong response including a correlation_id and writes a
        structured JSON log line with a request_id. Useful for verifying request
        tracing in the logs.
      operationId: getPing
      responses:
        "200":
          description: Pong
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ping"
          headers:
            X-Request-ID:
              description: Pro Request generierte/durchgereichte Correlation-ID
              schema:
                type: string
  /api/v1/echo:
    get:
      tags: [meta]
      summary: Integer-Query zurückgeben (Validierungs-Demo)
      x-summary-en: Echo an integer query (validation demo)
      description: >-
        Gibt den übergebenen Integer-Query-Parameter zurück. Ein nicht-ganzzahliger
        Wert löst den einheitlichen 400-Fehler-Envelope aus und zeigt so die
        Eingabevalidierung.
      x-description-en: >-
        Returns the integer query parameter you pass in. A non-integer value
        triggers the unified 400 error envelope, demonstrating input validation.
      operationId: getEcho
      parameters:
        - name: n
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Echo
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Ungültiger Query-Parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/_boom:
    get:
      tags: [meta]
      summary: Erzwungener Upstream-Fehler (Demo)
      x-summary-en: Forced upstream failure (demo)
      description: >-
        Existiert nur zum Testen des zentralen Fehler-Mappings. Liefert immer
        einen 503-Fehler-Envelope.
      x-description-en: >-
        Exists only to test the central error mapping. Always returns a 503
        error envelope.
      operationId: getBoom
      responses:
        "503":
          description: Simulierter Upstream-Ausfall
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sources:
    get:
      tags: [meta]
      summary: Status aller Upstream-Quellen
      x-summary-en: Status of all upstream sources
      description: >-
        Listet je bekannter Quelle den enabled-Zustand (aus den Settings) und
        den Circuit-Breaker-Zustand (CLOSED/OPEN/HALF_OPEN). So ist auf einen
        Blick sichtbar, welche Quelle gerade liefert und welche pausiert ist.
      x-description-en: >-
        Lists each known source with its enabled state (from settings) and its
        circuit-breaker state (CLOSED/OPEN/HALF_OPEN). Shows at a glance which
        source is currently serving and which is paused.
      operationId: getSources
      responses:
        "200":
          description: Liste der Quellen-Status
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SourceStatus"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "304":
          $ref: "#/components/responses/NotModified"
      parameters:
        - in: header
          name: If-None-Match
          required: false
          schema: { type: string }
          description: >-
            Conditional GET. Stimmt der Wert mit dem aktuellen ETag überein,
            antwortet der Server mit 304 Not Modified ohne Body.
          x-description-en: >-
            Conditional GET. If the value matches the current ETag, the server
            responds with 304 Not Modified and no body.
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, default: 50 }
          description: >-
            Seitengröße. Wird auf MAX_LIMIT (200) gedeckelt: zu große Werte
            liefern eine 200er-Seite mit 200 Einträgen statt eines Fehlers.
          x-description-en: >-
            Page size. Capped at MAX_LIMIT (200): larger values return a 200 page
            of 200 items instead of an error.
        - in: query
          name: offset
          schema: { type: integer, minimum: 0, default: 0 }
          description: Ein zu großer Offset liefert eine leere Seite (200), nie 500.
          x-description-en: An offset past the end returns an empty page (200), never 500.
        - in: query
          name: sort
          schema: { type: string, enum: [source, enabled, license] }
          description: >-
            Nur die gelisteten Felder sind erlaubt; ein unbekanntes Feld wird mit
            400 (invalid_request) abgewiesen, bevor es ausgewertet wird.
          x-description-en: >-
            Only the listed fields are allowed; an unknown field is rejected with
            400 (invalid_request) before it is evaluated.
        - in: query
          name: order
          schema: { type: string, enum: [asc, desc], default: asc }
  /api/v1/compare:
    get:
      tags: [compare]
      summary: Eine Ressource über mehrere Städte vergleichen
      x-summary-en: Compare one resource across multiple cities
      description: >-
        Vergleicht EINE Ressource (resource) über mehrere Städte (cities,
        kommasepariert) in einer einzigen Antwort. Jede Stadt trägt einen eigenen
        source_status (ok/disabled/no_data/error/not_found); eine fehlende oder
        tote Stadt-Quelle führt nicht zu einem Gesamt-5xx, sondern wird pro Stadt
        ehrlich ausgewiesen. resource wird gegen eine feste Liste geprüft
        (unbekannt -> 400). Das Ergebnis ist paginierbar (page/limit/offset/sort).
      x-description-en: >-
        Compares ONE resource across multiple cities (comma-separated) in a
        single response. Each city carries its own source_status
        (ok/disabled/no_data/error/not_found); a missing or dead city source does
        not cause an overall 5xx but is reported honestly per city. resource is
        checked against a fixed list (unknown -> 400). The result is paginated
        (page/limit/offset/sort).
      operationId: compareCities
      parameters:
        - in: query
          name: cities
          required: true
          schema: { type: string }
          example: berlin,koeln,hamburg
          description: Kommaseparierte Stadt-Slugs (auf MAX_CITIES begrenzt).
          x-description-en: Comma-separated city slugs (limited to MAX_CITIES).
        - in: query
          name: resource
          required: true
          schema: { type: string, enum: [weather, air] }
          description: >-
            Zu vergleichende Ressource (aus der festen Liste); unbekannt -> 400
            invalid_request.
          x-description-en: >-
            Resource to compare (from the fixed list); unknown -> 400
            invalid_request.
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, default: 50 }
        - in: query
          name: offset
          schema: { type: integer, minimum: 0, default: 0 }
        - in: query
          name: sort
          schema: { type: string, enum: [city, source_status] }
        - in: query
          name: order
          schema: { type: string, enum: [asc, desc], default: asc }
        - in: header
          name: If-None-Match
          required: false
          schema: { type: string }
          description: >-
            Conditional GET; If-None-Match == ETag -> 304 Not Modified ohne Body.
          x-description-en: >-
            Conditional GET; If-None-Match == ETag -> 304 Not Modified with no body.
      responses:
        "200":
          description: Vergleichsliste mit per-Stadt source_status
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [city, source_status]
                      properties:
                        city: { type: string }
                        data: { type: object, nullable: true }
                        source_status:
                          type: string
                          enum: [ok, disabled, no_data, error, not_found]
                  meta:
                    $ref: "#/components/schemas/Meta"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          description: Unbekannte resource oder leeres cities (invalid_request)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/openapi.yaml:
    get:
      tags: [meta]
      summary: Diese OpenAPI-Spec als YAML
      x-summary-en: This OpenAPI spec as YAML
      description: >-
        Liefert die handgepflegte Spec als application/yaml. FastAPI serviert
        intern nur /openapi.json; diese Route stellt die stabile YAML-Variante
        bereit.
      x-description-en: >-
        Returns the hand-maintained spec as application/yaml. FastAPI internally
        serves only /openapi.json; this route provides the stable YAML variant.
      operationId: getOpenapiYaml
      responses:
        "200":
          description: Die Spec als YAML
          content:
            application/yaml:
              schema:
                type: string
  /api/v1/cities:
    get:
      tags: [cities]
      summary: Alle bekannten Städte auflisten
      x-summary-en: List all known cities
      description: >-
        Listet die Einträge des Stadt-Registers: 84 deutsche Großstädte über
        100.000 Einwohner, davon 28 Kern-Städte mit voller Quellen-Abdeckung.
        Jeder Eintrag trägt den Slug, den du als {slug}-Pfadparameter in allen
        weiteren Endpunkten verwendest.
      x-description-en: >-
        Lists the entries of the city register: 84 German cities with more than
        100,000 inhabitants, 28 of them core cities with full source coverage.
        Each entry carries the slug you use as the {slug} path parameter in all
        other endpoints.
      operationId: getCities
      responses:
        "200":
          description: Stadt-Liste
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
  /api/v1/cities/{slug}:
    get:
      tags: [cities]
      summary: Eine Stadt aus dem Register holen
      x-summary-en: Get a single city from the register
      description: >-
        Liefert den Register-Eintrag zur Stadt mit dem angegebenen {slug}. Ein
        unbekannter Slug löst den 404-Fehler-Envelope aus, dessen Hint auf die
        Stadt-Liste verweist.
      x-description-en: >-
        Returns the register entry for the city with the given {slug}. An unknown
        slug triggers the 404 error envelope whose hint points to the city list.
      operationId: getCity
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Stadt-Eintrag
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/base:
    get:
      tags: [cities]
      summary: Stadt-Stammdaten aus Wikidata
      x-summary-en: City master data from Wikidata
      description: >-
        Liefert Einwohnerzahl, Fläche und Geo-Koordinaten einer Stadt aus
        Wikidata im kanonischen Envelope mit Attribution und Lizenz-Tag. Ist die
        Quelle deaktiviert, antwortet die Route mit 200, data=null und
        meta.source_status="disabled" (nie 5xx). Ist der Upstream tot und liegt
        kein zwischengespeicherter Wert vor, kommt 503 mit einem Hint auf
        GET /api/v1/health.
      x-description-en: >-
        Returns a city's population, area and geo coordinates from Wikidata in
        the canonical envelope with attribution and license tag. If the source
        is disabled, the route responds with 200, data=null and
        meta.source_status="disabled" (never 5xx). If the upstream is down and no
        cached value exists, it returns 503 with a hint pointing to
        GET /api/v1/health.
      operationId: getCityBase
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: >-
            Stammdaten-Envelope. data ist der CanonicalRecord oder null, wenn die
            Quelle deaktiviert ist (meta.source_status="disabled").
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    allOf:
                      - $ref: "#/components/schemas/Meta"
                    description: >-
                      meta trägt zusätzlich source_status ("ok"|"disabled") und
                      auf dem ok-Pfad cache_status (HIT/MISS/STALE/STALE-ON-ERROR).
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/air:
    get:
      tags: [cities]
      summary: Luftqualität je Stadt (Umweltbundesamt)
      x-summary-en: Air quality per city (Federal Environment Agency)
      description: >-
        Aktuelle Luftqualitäts-Messwerte einer Stadt aus der Luftdaten-API des
        Umweltbundesamts im kanonischen Envelope. Die fünf Schadstoff-Messwerte
        (PM10, PM2.5, NO2, O3, SO2) stehen in data, Quelle und source_status in
        meta. Werte sind live (kein Zwischenbestand). Sonderfälle: deaktivierte
        Quelle liefert 200 mit data=null und source_status="disabled"; toter
        Upstream ohne Cache liefert 503 mit Hint auf GET /api/v1/health.
      x-description-en: >-
        Current air-quality readings for a city from the German Federal
        Environment Agency (UBA) air-data API in the canonical envelope. The five
        pollutant readings (PM10, PM2.5, NO2, O3, SO2) are in data, source and
        source_status in meta. Values are live (no intermediate store). Special
        cases: a disabled source returns 200 with data=null and
        source_status="disabled"; a dead upstream with no cache returns 503 with
        a hint to GET /api/v1/health.
      operationId: getCityAir
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Luftqualitäts-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/overview:
    get:
      tags: [cities]
      summary: Stadt-Überblick (Katalog aller Datenarten + Live-Highlights)
      x-summary-en: City overview (catalog of all data types + live highlights)
      description: >-
        Ein-Aufruf-Überblick einer Stadt: Basisdaten, ein Katalog ALLER
        verfügbaren Datenarten (je mit Abdeckungsstatus und dem passenden
        MCP-Tool) sowie ein kleiner Live-Highlight-Snapshot (Wetter, Luft,
        Bahn-Abfahrten), parallel und zeitgedeckelt. Ideal als Einstieg, um die ganze Breite je
        Stadt zu sehen (nicht nur Wetter). Eine noch nicht abgedeckte Datenart
        wird ehrlich, aber vorwärts gewandt dargestellt (sie nennt die bereits
        abgedeckten Städte plus einen Roadmap-Hinweis, weil InfraNode laufend
        mehr Daten und Städte bekommt). Unbekannte Stadt liefert 404.
      x-description-en: >-
        One-call overview of a city: base data, a catalog of ALL available data
        types (each with its coverage status and the matching MCP tool), and a
        small live highlights snapshot (weather + air), fetched in parallel and
        time-capped. Ideal as an entry point to see the full breadth per city,
        not just weather. A data type that is not yet covered is shown honestly
        but forward-looking (it lists the cities where it IS available plus a
        roadmap note, because InfraNode keeps adding more data types and cities).
        An unknown city returns 404.
      operationId: getCityOverview
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Überblick-Envelope (Basis + Katalog + Highlights + Summary)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: object
                    properties:
                      city:
                        type: object
                        description: Basisdaten der Stadt (slug, Lage, Einwohner).
                      data_types:
                        type: array
                        description: >-
                          Katalog aller Datenarten je mit type, label, label_en,
                          tool (MCP-Tool), path und available; nicht abgedeckte
                          tragen zusätzlich covered_cities und einen note-Hinweis.
                        items:
                          type: object
                      highlights:
                        type: object
                        description: >-
                          Live-Snapshot je Highlight-Quelle (weather, air) mit
                          eigenem source_status (ok/no_data/disabled/error).
                      summary:
                        type: object
                        description: >-
                          data_types_total, data_types_available, cities_total und
                          ein Roadmap-Hinweis (note).
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/weather:
    get:
      tags: [cities]
      summary: Wetter je Stadt (DWD über Bright Sky)
      x-summary-en: Weather per city (DWD via Bright Sky)
      description: >-
        Aktuelle Wetter-Messwerte einer Stadt vom Deutschen Wetterdienst (über
        Bright Sky) im kanonischen Envelope. data trägt die Messwerte,
        attribution den GeoNutzV-Bearbeitungshinweis (modified=true).
        Sonderfälle: deaktivierte Quelle liefert 200 mit
        source_status="disabled"; toter Upstream ohne Cache liefert 503 mit Hint
        auf GET /api/v1/health.
      x-description-en: >-
        Current weather readings for a city from the German Weather Service (DWD,
        via Bright Sky) in the canonical envelope. data holds the readings,
        attribution carries the GeoNutzV modification notice (modified=true).
        Special cases: a disabled source returns 200 with
        source_status="disabled"; a dead upstream with no cache returns 503 with
        a hint to GET /api/v1/health.
      operationId: getCityWeather
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Wetter-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/pois:
    get:
      tags: [cities]
      summary: POIs je Stadt, nach Typ gefiltert (OSM/Overpass, Tier B)
      x-summary-en: POIs per city, filtered by type (OSM/Overpass, Tier B)
      description: >-
        Liefert POIs einer Stadt aus OpenStreetMap (über Overpass) im
        kanonischen Envelope, gefiltert nach dem Query-Parameter type. Der Typ
        wird gegen eine feste Liste geprüft; ein unbekannter Typ löst 422 aus
        (kein roher Input in die Overpass-Query). Tier B (copyleft).
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        Returns a city's POIs from OpenStreetMap (via Overpass) in the canonical
        envelope, filtered by the type query parameter. The type is checked
        against a fixed list; an unknown type triggers 422 (no raw input reaches
        the Overpass query). Tier B (copyleft). Disabled -> 200
        source_status="disabled".
      operationId: getCityPois
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: true
          description: POI-Typ aus der erlaubten Liste (z.B. hospital, school, pharmacy).
          x-description-en: POI type from the allowed list (e.g. hospital, school, pharmacy).
          schema:
            type: string
      responses:
        "200":
          description: POI-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Unbekannter POI-Typ (nicht in der Whitelist)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/playgrounds:
    get:
      tags: [cities]
      summary: Spielplätze je Stadt (OSM, Tier B)
      x-summary-en: Playgrounds per city (OSM, Tier B)
      description: >-
        Öffentliche Spielplätze (OSM leisure=playground) im kanonischen Envelope. Tier B (copyleft, ODbL).
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        Public playgrounds (OSM leisure=playground) in the canonical envelope. Tier B (copyleft, ODbL).
        Disabled -> 200 source_status="disabled".
      operationId: getCityPlaygrounds
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OSM-Feature-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/drinking-water:
    get:
      tags: [cities]
      summary: Trinkwasserbrunnen je Stadt (OSM, Tier B)
      x-summary-en: Public drinking water fountains per city (OSM, Tier B)
      description: >-
        Öffentliche Trinkwasserbrunnen (OSM amenity=drinking_water). Die OSM-Abdeckung ist je Stadt unterschiedlich vollständig. Tier B (ODbL).
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        Public drinking water fountains (OSM amenity=drinking_water). OSM coverage varies per city. Tier B (ODbL).
        Disabled -> 200 source_status="disabled".
      operationId: getCityDrinkingWater
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OSM-Feature-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/public-toilets:
    get:
      tags: [cities]
      summary: Öffentliche Toiletten je Stadt (OSM, Tier B)
      x-summary-en: Public toilets per city (OSM, Tier B)
      description: >-
        Öffentliche Toiletten (OSM amenity=toilets) mit Barrierefreiheits-Tags
        je Element (wheelchair, changing_table) sowie fee/access/opening_hours/
        unisex. Die OSM-Abdeckung ist je Stadt unterschiedlich vollständig.
        Tier B (ODbL). Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        Public toilets (OSM amenity=toilets) with per-item accessibility tags
        (wheelchair, changing_table) plus fee/access/opening_hours/unisex. OSM
        coverage varies per city. Tier B (ODbL). Disabled -> 200
        source_status="disabled".
      operationId: getCityPublicToilets
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OSM-Feature-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/markets:
    get:
      tags: [cities]
      summary: Wochenmärkte/Marktplätze je Stadt (OSM, Tier B)
      x-summary-en: Markets per city (OSM, Tier B)
      description: >-
        Marktplätze (OSM amenity=marketplace). Markttage/Zeiten kommen als optionales opening_hours je Element (häufig leer). Tier B (ODbL).
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        Marketplaces (OSM amenity=marketplace). Market days/times come as optional opening_hours per element (often empty). Tier B (ODbL).
        Disabled -> 200 source_status="disabled".
      operationId: getCityMarkets
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OSM-Feature-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/parcel-lockers:
    get:
      tags: [cities]
      summary: Paketstationen je Stadt (OSM, Tier B)
      x-summary-en: Parcel lockers per city (OSM, Tier B)
      description: >-
        Paketstationen/Locker (OSM amenity=parcel_locker) mit optionalem operator/brand (DHL/Amazon/DPD/Hermes/GLS). Tier B (ODbL).
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        Parcel lockers (OSM amenity=parcel_locker) with optional operator/brand (DHL/Amazon/DPD/Hermes/GLS). Tier B (ODbL).
        Disabled -> 200 source_status="disabled".
      operationId: getCityParcelLockers
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OSM-Feature-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/post-offices:
    get:
      tags: [cities]
      summary: Postfilialen je Stadt (OSM, Tier B)
      x-summary-en: Post offices per city (OSM, Tier B)
      description: >-
        Postfilialen (OSM amenity=post_office) mit optionalem opening_hours/operator. Tier B (ODbL).
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        Post offices (OSM amenity=post_office) with optional opening_hours/operator. Tier B (ODbL).
        Disabled -> 200 source_status="disabled".
      operationId: getCityPostOffices
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OSM-Feature-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/post-boxes:
    get:
      tags: [cities]
      summary: Briefkästen je Stadt, mit Leerungszeiten (OSM, Tier B)
      x-summary-en: Post boxes per city, with collection times (OSM, Tier B)
      description: >-
        Öffentliche Briefkästen (OSM amenity=post_box). Leerungszeiten als optionales collection_times je Element (ca. drei Viertel getaggt; fehlend = Datenpunkt-Lücke). Tier B (ODbL).
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        Public post boxes (OSM amenity=post_box). Collection times as optional collection_times per element (~75% tagged; missing = data gap). Tier B (ODbL).
        Disabled -> 200 source_status="disabled".
      operationId: getCityPostBoxes
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OSM-Feature-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/public-wifi:
    get:
      tags: [cities]
      summary: Öffentliche WLAN-Standorte je Stadt (OSM, Tier B)
      x-summary-en: Public Wi-Fi locations per city (OSM, Tier B)
      description: >-
        Öffentliche WLAN-Standorte (OSM internet_access=wlan) mit optionalem operator. Tier B (ODbL).
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        Public Wi-Fi locations (OSM internet_access=wlan) with optional operator. Tier B (ODbL).
        Disabled -> 200 source_status="disabled".
      operationId: getCityPublicWifi
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OSM-Feature-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/recycling-centres:
    get:
      tags: [cities]
      summary: Recycling-/Wertstoffhöfe je Stadt (OSM, Tier B)
      x-summary-en: Recycling centres per city (OSM, Tier B)
      description: >-
        Recycling-/Wertstoffhöfe (OSM amenity=recycling + recycling_type=centre) mit optionalem opening_hours. Tier B (ODbL).
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        Recycling centres (OSM amenity=recycling + recycling_type=centre) with optional opening_hours. Tier B (ODbL).
        Disabled -> 200 source_status="disabled".
      operationId: getCityRecyclingCentres
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OSM-Feature-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/government-offices:
    get:
      tags: [cities]
      summary: Behörden/Ämter je Stadt (OSM, Tier B)
      x-summary-en: Government offices per city (OSM, Tier B)
      description: >-
        Behörden/Ämter (OSM office=government + amenity=townhall), konsolidiert Bürgerämter, Verwaltungs- und sonstige Ämter. Subtyp je Element als optionales government-Tag. Tier B (ODbL).
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        Government offices (OSM office=government + amenity=townhall), consolidating citizen, administrative and other offices. Subtype per element as optional government tag. Tier B (ODbL).
        Disabled -> 200 source_status="disabled".
      operationId: getCityGovernmentOffices
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OSM-Feature-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/education:
    get:
      tags: [cities]
      summary: Bildungseinrichtungen je Stadt (OSM, Tier B)
      x-summary-en: Education facilities per city (OSM, Tier B)
      description: >-
        Bildungseinrichtungen (OSM amenity=school/college/university/kindergarten). Tier B (ODbL).
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        Education facilities (OSM amenity=school/college/university/kindergarten). Tier B (ODbL).
        Disabled -> 200 source_status="disabled".
      operationId: getCityEducation
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OSM-Feature-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/population-density:
    get:
      tags: [cities]
      summary: Einwohnerdichte je Stadt (Zensus-2022-Gitter, Tier A)
      x-summary-en: Population density per city (Census 2022 grid, Tier A)
      description: >-
        Einwohnerdichte einer Stadt aus dem amtlichen Zensus-2022-100m-Gitter,
        exakt aggregiert über die Gitterzellen mit der Stadt-AGS: Summe Einwohner,
        Zahl bewohnter 100m-Zellen, bewohnte Fläche (km²) und Dichte (Einwohner/km²
        über die bewohnte Fläche, nicht die Gesamtfläche). Flächendeckend (alle
        Städte); ohne Gitterzellen -> 200 source_status="no_data". DL-DE/BY 2.0.
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        A city's population density from the official Census 2022 100m grid,
        aggregated exactly over the grid cells with the city's AGS: total
        inhabitants, populated 100m cells, populated area (km²) and density
        (inhabitants/km² over the populated area, not the total area). Full
        coverage (all cities); no grid cells -> 200 source_status="no_data".
        DL-DE/BY 2.0. Disabled -> 200 source_status="disabled".
      operationId: getCityPopulationDensity
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Einwohnerdichte-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/public-tenders:
    get:
      tags: [cities]
      summary: Öffentliche Auftragsvergabe je Stadt (oeffentlichevergabe.de, Tier A)
      x-summary-en: Public procurement notices per city (oeffentlichevergabe.de, Tier A)
      description: >-
        Öffentliche Auftragsbekanntmachungen einer Stadt aus dem
        Bekanntmachungsdienst des Bundes (oeffentlichevergabe.de, OCDS): laufende
        Ausschreibungen und vergebene Aufträge, je Bekanntmachung Titel, Status,
        Auftraggeber, Wert, Fristen und Quell-Link. Read-only aus dem
        deduplizierten Store (kein Live-Pull im Request-Pfad). Filter status
        (active/complete) und match (buyer_city/place_of_performance), mit
        Pagination (limit/offset). Abdeckung wächst: Oberschwelle vollständig,
        Unterschwelle ab 2024 schrittweise. Keine Bekanntmachungen -> 200
        source_status="no_data", data=null (ehrlich). CC0 (Tier A). Deaktiviert
        -> 200 source_status="disabled".
      x-description-en: >-
        A city's public procurement notices from the German federal procurement
        publication service (oeffentlichevergabe.de, OCDS): running tenders and
        awarded contracts, each with title, status, buyer, value, deadlines and a
        source link. Read-only from the deduplicated store (no live pull in the
        request path). Filter by status (active/complete) and match
        (buyer_city/place_of_performance), with pagination (limit/offset).
        Coverage is growing: above-threshold complete, below-threshold
        incrementally from 2024. No notices -> 200 source_status="no_data",
        data=null (honest). CC0 (Tier A). Disabled -> 200
        source_status="disabled".
      operationId: getCityPublicTenders
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: OCDS-Status-Filter (active = laufend, complete = vergeben).
          schema:
            type: string
            enum: [active, complete]
        - name: match
          in: query
          required: false
          description: >-
            Stadt-Zuordnung (buyer_city = Sitz des Amts, place_of_performance =
            Erfüllungsort).
          schema:
            type: string
            enum: [buyer_city, place_of_performance]
        - name: limit
          in: query
          required: false
          description: Seitengröße (Default 50, Cap 200).
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          description: Seiten-Offset (>= 0); Overflow -> leere Seite, no_data.
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: >-
            Auftragsvergabe-Envelope (aggregierte notices-Liste + count, oder null
            bei no_data/disabled)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - type: object
                        properties:
                          notices:
                            type: array
                            items:
                              type: object
                          count:
                            type: integer
                          license_id:
                            type: string
                            description: Lizenz des Datensatzes (CC0 = Tier A).
                          license_tier:
                            type: string
                          attribution:
                            type: object
                            properties:
                              text:
                                type: string
                              license_url:
                                type: string
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Ungültiger Query-Parameter (status/match/limit/offset)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/tree-cadastre:
    get:
      tags: [cities]
      summary: Baumkataster je Stadt (kommunaler WFS, Tier A)
      x-summary-en: Street-tree cadastre per city (municipal WFS, Tier A)
      description: >-
        Das städtische Baumkataster (Straßenbäume) aus dem kommunalen WFS, je Baum
        Punkt plus Attribute (Art, Pflanzjahr, Höhe, Straße, Bezirk). Kataster sind
        sehr groß: die Antwort ist eine gedeckelte Stichprobe (count = ausgelieferte
        Bäume, nicht der Gesamtbestand). Teilabdeckung (kommunal, nur Städte mit
        verifiziertem offenem WFS, aktuell Berlin, DL-DE/Zero 2.0); andere Städte
        antworten mit 200 source_status="not_covered" + meta.covered_cities.
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        A city's street-tree cadastre from the municipal WFS, each tree as a point
        plus attributes (species, planting year, height, street, district). Registers
        are very large: the response is a capped sample (count = returned trees, not
        the full stock). Partial coverage (municipal, only cities with a verified
        open WFS, currently Berlin, DL-DE/Zero 2.0); other cities return 200
        source_status="not_covered" + meta.covered_cities. Disabled -> 200
        source_status="disabled".
      operationId: getCityTreeCadastre
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Baumkataster-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/heritage:
    get:
      tags: [cities]
      summary: Denkmäler/Baudenkmale je Stadt (Land-WFS, Tier A)
      x-summary-en: Heritage/listed monuments per city (state WFS, Tier A)
      description: >-
        Bau- und Denkmalobjekte einer Stadt aus der Denkmalliste des jeweiligen
        Bundeslandes (WFS), je Objekt ein Repräsentativpunkt plus Typ/Link.
        Denkmalschutz ist Ländersache: Teilabdeckung, nur Städte in Ländern mit
        verifiziertem offenem WFS (aktuell Berlin, DL-DE/Zero 2.0). Andere Städte
        antworten ehrlich mit 200 source_status="not_covered", data=null und
        meta.covered_cities. Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        A city's listed/heritage objects from the respective federal state's
        heritage register (WFS), each as a representative point plus type/link.
        Heritage protection is a state matter: partial coverage, only cities in
        states with a verified open WFS (currently Berlin, DL-DE/Zero 2.0). Other
        cities honestly return 200 source_status="not_covered", data=null and
        meta.covered_cities. Disabled -> 200 source_status="disabled".
      operationId: getCityHeritage
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Denkmal-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/traffic:
    get:
      tags: [cities]
      summary: Baustellen und Verkehrsmeldungen je Stadt (Autobahn-API)
      x-summary-en: Roadworks and traffic warnings per city (Autobahn API)
      description: >-
        Baustellen (roadworks) und Verkehrswarnungen (warnings) im Umfeld einer
        Stadt aus der Autobahn-API im kanonischen Envelope. Die Meldungen werden
        per Bounding-Box um die Stadt-Koordinaten gefiltert, data enthält die
        passenden Einträge. Flächendeckend: jeder der 84 Städte sind die nahen
        Autobahnen kuratiert zugeordnet (datengetrieben aus der Autobahn-API),
        eine Stadt ohne aktuelle Meldung antwortet ehrlich mit no_data.
        Stau/Verkehrslage:
        jede Verkehrswarnung trägt zusätzlich ein congestion-Feld (level
        stau/stockend/dicht/unspezifisch aus dem DATEX-abnormalTrafficType,
        delay_minutes = Reisezeitverlust, blocked), und payload.congestion_summary
        verdichtet die Stau-Lage je Stadt (count/stau/stockend/blocked/
        max_delay_minutes; null wenn keine Stau-Meldung). Weitere Sonderfälle:
        deaktivierte Quelle liefert 200 mit source_status="disabled"; toter
        Upstream ohne Cache liefert 503 mit Hint auf GET /api/v1/health.
      x-description-en: >-
        Roadworks and traffic warnings around a city from the Autobahn API in the
        canonical envelope. Items are filtered by a bounding box around the
        city's coordinates; data contains the matching entries. Full coverage:
        each of the 84 cities has its nearby motorways curated (data-driven from
        the Autobahn API); a city with no current message honestly responds with
        no_data. Congestion: each traffic warning additionally carries a
        congestion field (level stau/stockend/dicht/unspezifisch derived from the
        DATEX abnormalTrafficType, delay_minutes = travel-time loss, blocked), and
        payload.congestion_summary aggregates the congestion situation per city
        (count/stau/stockend/blocked/max_delay_minutes; null if no congestion
        message). Other special cases: a disabled source returns 200 with
        source_status="disabled"; a dead upstream with no cache returns 503 with a
        hint to GET /api/v1/health.
      operationId: getCityTraffic
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Verkehrs-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/transit:
    get:
      tags: [cities]
      summary: ÖPNV-Haltestellen je Stadt (DELFI und HVV GTFS)
      x-summary-en: Public-transit stops per city (DELFI and HVV GTFS)
      description: >-
        Normalisierte ÖPNV-Haltestellen einer Stadt aus dem bundesweiten
        DELFI-GTFS-Feed bzw. dem HVV-Feed im kanonischen Envelope. Die Daten
        werden offline aufbereitet und als Snapshot je Stadt gehalten, sodass der
        Abruf schnell antwortet, ohne den Feed pro Request zu parsen.
        Sonderfälle: sind beide Quellen deaktiviert, kommt 200 mit
        source_status="disabled"; liegt noch kein Snapshot vor, kommt 200 mit
        source_status="not_ingested" und leeren data, nie ein 5xx.
      x-description-en: >-
        Normalized public-transit stops for a city from the nationwide DELFI GTFS
        feed or the HVV feed in the canonical envelope. The data is prepared
        offline and kept as a per-city snapshot, so the request responds quickly
        without parsing the feed per request. Special cases: if both sources are
        disabled it returns 200 with source_status="disabled"; if no snapshot
        exists yet it returns 200 with source_status="not_ingested" and empty
        data, never a 5xx.
      operationId: getCityTransit
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: >-
            Transit-Envelope. data ist eine Liste von CanonicalRecord
            (TransitStopPayload) oder null/leer, je nach source_status
            ("ok"|"disabled"|"not_ingested").
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - type: array
                        items:
                          $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/charging:
    get:
      tags: [cities]
      summary: E-Ladesäulen-Standorte je Stadt (BNetzA, Tier A)
      x-summary-en: EV charging-station locations per city (BNetzA, Tier A)
      description: >-
        Liefert die E-Ladesäulen-Standorte einer Stadt (nur Stammdaten, KEINE
        Belegung) aus dem BNetzA-Ladesäulenregister im kanonischen Envelope. Die
        Daten stammen aus dem CSV-Bulk-Download der BNetzA
        (data.bundesnetzagentur.de) und werden periodisch aktualisiert; die Route
        liefert den jüngsten aufbereiteten Stand, keinen Live-Abruf.
        Deaktiviert -> 200 source_status="disabled"; kein Snapshot -> 200
        source_status="not_ingested".
      x-description-en: >-
        Returns a city's EV charging-station locations (master data only, NO
        occupancy) from the BNetzA charging-station register in the canonical
        envelope. The data comes from the BNetzA CSV bulk download
        (data.bundesnetzagentur.de) and is refreshed periodically; the route
        serves the most recent prepared state, not a live fetch.
        Disabled -> 200 source_status="disabled"; no snapshot -> 200
        source_status="not_ingested".
      operationId: getCityCharging
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Ladesäulen-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/air-uba:
    get:
      tags: [cities]
      summary: Luftqualität je Stadt (Umweltbundesamt)
      x-summary-en: Air quality per city (Federal Environment Agency)
      description: >-
        Luftqualitäts-Messwerte einer Stadt aus der Luftdaten-API des
        Umweltbundesamts im kanonischen Envelope. Amtlicher Tier-A-Pfad für
        behördlich validierte Werte. Liefert dieselbe UBA-Quelle wie der ältere,
        nicht persistierte Pfad (/air). Sonderfälle: deaktivierte Quelle liefert
        200 mit source_status="disabled"; toter Upstream ohne Cache liefert 503
        mit Hint auf GET /api/v1/health.
      x-description-en: >-
        Air-quality readings for a city from the German Federal Environment
        Agency (UBA) air-data API in the canonical envelope. The official Tier-A
        path for authority-validated values. Serves the same UBA source as the
        older, non-persisted path (/air). Special cases: a disabled source
        returns 200 with source_status="disabled"; a dead upstream with no cache
        returns 503 with a hint to GET /api/v1/health.
      operationId: getCityAirUba
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Luftqualitäts-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/water-level:
    get:
      tags: [cities]
      summary: Pegelstand je Stadt (PEGELONLINE, Tier A, Teilabdeckung)
      x-summary-en: Water level per city (PEGELONLINE, Tier A, partial coverage)
      description: >-
        Liefert den aktuellen Pegelstand der nächstgelegenen Station einer Stadt
        aus PEGELONLINE im kanonischen Envelope. Teilabdeckung: nur Städte an
        Bundeswasserstraßen haben eine Station, sonst kommt 200 mit
        source_status="no_data" (kein 5xx). Tier A. Deaktiviert -> 200
        source_status="disabled".
      x-description-en: >-
        Returns the current water level of the nearest station to a city from
        PEGELONLINE in the canonical envelope. Partial coverage: only cities on
        federal waterways have a station, otherwise it returns 200 with
        source_status="no_data" (no 5xx). Tier A. Disabled -> 200
        source_status="disabled".
      operationId: getCityWaterLevel
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pegelstand-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/flood:
    get:
      tags: [cities]
      summary: Hochwasser-Warnstufen je Stadt (LHP, Tier A)
      x-summary-en: Flood warning levels per city (LHP, Tier A)
      description: >-
        Liefert die aktuellen Hochwasser-Warnstufen der kuratierten Pegel einer
        Stadt aus dem Länderübergreifenden Hochwasserportal (LHP) im kanonischen
        Envelope. Die Attribution trägt den "Stand:"-Zeitstempel (Pflicht).
        Tier A. Teilabdeckung (kuratierte Pegel je Stadt): nur berlin, bonn,
        dresden, duesseldorf, duisburg, erfurt, essen, frankfurt-am-main, hamburg,
        koeln, leipzig, mainz, muenchen, nuernberg liefern Daten. Andere
        registrierte Städte antworten ehrlich mit 200 source_status="not_covered",
        data=null und meta.covered_cities (Liste der abgedeckten Städte). Weitere
        Sonderfälle: deaktiviert -> 200 source_status="disabled"; toter Upstream
        ohne Cache -> 503 mit Hint.
      x-description-en: >-
        Returns the current flood warning levels of a city's curated gauges from
        the German cross-state flood portal (LHP) in the canonical envelope. The
        attribution carries the mandatory "Stand:" timestamp. Tier A. Partial
        coverage (curated gauges per city): only berlin, bonn, dresden,
        duesseldorf, duisburg, erfurt, essen, frankfurt-am-main, hamburg, koeln,
        leipzig, mainz, muenchen, nuernberg return data. Other registered cities
        honestly respond with 200 source_status="not_covered", data=null and
        meta.covered_cities (the list of covered cities). Other special cases:
        disabled -> 200 source_status="disabled"; dead upstream with no cache ->
        503 with a hint.
      operationId: getCityFlood
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Hochwasser-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/pollen-uv:
    get:
      tags: [cities]
      summary: Pollenflug und UV-Index je Stadt (DWD opendata, Tier A)
      x-summary-en: Pollen and UV index per city (DWD opendata, Tier A)
      description: >-
        Liefert Pollenflug-Gefahrenindex und UV-Index für die Großregion einer
        Stadt aus DWD opendata im kanonischen Envelope. Die Daten sind nach
        DWD-Großregionen gegliedert, NICHT stadtgenau (region_name im Payload).
        Attribution mit modified=true (GeoNutzV). Tier A. Deaktiviert -> 200
        source_status="disabled".
      x-description-en: >-
        Returns the pollen hazard index and UV index for a city's macro-region
        from DWD opendata in the canonical envelope. The data is organized by
        DWD macro-regions, NOT city-precise (region_name in the payload).
        Attribution with modified=true (GeoNutzV). Tier A. Disabled -> 200
        source_status="disabled".
      operationId: getCityPollenUv
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pollen-/UV-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/fire-danger:
    get:
      tags: [cities]
      summary: Waldbrand- und Graslandfeuerindex je Stadt (DWD, Tier A)
      x-summary-en: Forest-fire and grassland-fire danger index per city (DWD, Tier A)
      description: >-
        Liefert den Waldbrandgefahrenindex (Stufe 1 sehr gering bis 5 sehr hoch)
        und den Graslandfeuerindex der nächsten DWD-Station zu einer Stadt im
        kanonischen Envelope. Der Index ist STATIONS-genau, NICHT stadtgenau
        (station_name und distance_km im Payload weisen die Station aus).
        Attribution mit modified=true (GeoNutzV). Tier A. Deaktiviert -> 200
        source_status="disabled".
      x-description-en: >-
        Returns the forest-fire danger index (level 1 very low to 5 very high)
        and the grassland-fire index of the nearest DWD station to a city in the
        canonical envelope. The index is STATION-based, NOT city-precise
        (station_name and distance_km in the payload identify the station).
        Attribution with modified=true (GeoNutzV). Tier A. Disabled -> 200
        source_status="disabled".
      operationId: getCityFireDanger
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Waldbrand-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/bathing-water:
    get:
      tags: [cities]
      summary: Badegewässerqualität im Umkreis einer Stadt (EEA, Tier A)
      x-summary-en: Bathing water quality near a city (EEA, Tier A)
      description: >-
        Liefert die Badegewässerqualität (EU-Badegewässerrichtlinie 2006/7/EG,
        EEA DiscoMap) im Umkreis einer Stadt im kanonischen Envelope. Je Badestelle
        Klasse (Excellent/Good/Sufficient/Poor), Gewässertyp, Koordinaten, Distanz
        und Profil-Link. ORTSNAH (Umland), NICHT stadtgenau (distance_km je Stelle);
        Inland-Städte ohne Badegewässer liefern count=0. CC-BY 4.0, Tier A.
        Deaktiviert -> 200 source_status="disabled".
      x-description-en: >-
        Returns bathing water quality (EU Bathing Water Directive 2006/7/EC, EEA
        DiscoMap) near a city in the canonical envelope. Per site: class
        (Excellent/Good/Sufficient/Poor), water category, coordinates, distance and
        profile link. NEARBY (surroundings), NOT city-precise (distance_km per
        site); inland cities without bathing waters return count=0. CC-BY 4.0,
        Tier A. Disabled -> 200 source_status="disabled".
      operationId: getCityBathingWater
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Badegewässer-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/hospitals-atlas:
    get:
      tags: [cities]
      summary: Krankenhausstandorte je Stadt (Bundes-Klinik-Atlas, fail-closed)
      x-summary-en: Hospital locations per city (Bundes-Klinik-Atlas, fail-closed)
      description: >-
        Liefert standortgenaue Krankenhausdaten (Name, Adresse, Betten, Kontakt,
        Koordinaten) im Umkreis einer Stadt aus dem Bundes-Klinik-Atlas (BMG/IQTIG)
        im kanonischen Envelope. FAIL-CLOSED: keine explizite offene Lizenz
        ausgewiesen -> license_id UNKNOWN/Tier C und per Default DEAKTIVIERT
        (-> 200 source_status="disabled"), bis BMG/IQTIG die Lizenz bestätigt.
        ORTSNAH gefiltert (distance_km je Standort).
      x-description-en: >-
        Returns per-location hospital data (name, address, beds, contact,
        coordinates) near a city from the Bundes-Klinik-Atlas (BMG/IQTIG) in the
        canonical envelope. FAIL-CLOSED: no explicit open licence stated ->
        license_id UNKNOWN/Tier C and disabled by default (-> 200
        source_status="disabled") until BMG/IQTIG confirm the licence. Filtered
        by proximity (distance_km per location).
      operationId: getCityHospitalsAtlas
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Krankenhausatlas-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/station-facilities:
    get:
      tags: [cities]
      summary: Aufzug-/Rolltreppen-Status an Bahnhöfen je Stadt (DB FaSta, Tier A)
      x-summary-en: Elevator/escalator status at stations per city (DB FaSta, Tier A)
      description: >-
        Liefert den Echtzeit-Betriebsstatus von Aufzügen und Rolltreppen an
        Bahnhöfen einer Stadt (DB FaSta) im kanonischen Envelope. Je Anlage Typ
        (ELEVATOR/ESCALATOR), Status (ACTIVE/INACTIVE/UNKNOWN) + Begründung,
        Bahnhofsnummer, Koordinaten und Distanz. KEY-GATED: ohne DB-API-Schlüssel
        -> 200 source_status="disabled". CC-BY 4.0, Tier A. ORTSNAH (Bahnhöfe im
        Stadtgebiet), distance_km je Anlage.
      x-description-en: >-
        Returns the real-time operational state of elevators and escalators at a
        city's railway stations (DB FaSta) in the canonical envelope. Per facility:
        type (ELEVATOR/ESCALATOR), state (ACTIVE/INACTIVE/UNKNOWN) + reason, station
        number, coordinates and distance. KEY-GATED: without a DB API key -> 200
        source_status="disabled". CC-BY 4.0, Tier A.
      operationId: getCityStationFacilities
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Aufzug-/Rolltreppen-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/demographics:
    get:
      tags: [cities]
      summary: Demografie-Zeitreihen je Stadt (GENESIS/Regionalstatistik, Tier A)
      x-summary-en: Demographic time series per city (GENESIS/Regionalstatistik, Tier A)
      description: >-
        Liefert Demografie-Stammwerte und Zeitreihen einer Stadt aus der
        POST-API der GENESIS-/Regionalstatistik im kanonischen Envelope. Der
        Zugang ist account-gebunden: ohne hinterlegte Zugangsdaten oder bei
        deaktivierter Quelle antwortet der Endpunkt mit 200
        source_status="disabled". Tier A. Toter Upstream ohne Cache -> 503 mit
        Hint.
      x-description-en: >-
        Returns a city's demographic base values and time series from the
        GENESIS/Regionalstatistik POST API in the canonical envelope. Access is
        account-bound: without stored credentials or with the source disabled the
        endpoint responds with 200 source_status="disabled". Tier A. Dead
        upstream with no cache -> 503 with a hint.
      operationId: getCityDemographics
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Demografie-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Quelle vorübergehend nicht erreichbar (kein Cache)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/energy:
    get:
      tags: [cities]
      summary: Energie-Anlagen je Stadt (MaStR, Tier A)
      x-summary-en: Energy installations per city (MaStR, Tier A)
      description: >-
        Liefert die Energie-Anlagen (PV/Wind/Speicher/Biogas) einer Stadt aus dem
        offline aufbereiteten MaStR-SQLite-Store im kanonischen Envelope. Kein
        Upstream im Request-Pfad, der Abruf liest nur den vorbereiteten Bestand.
        Deaktiviert -> 200 source_status="disabled". Batch noch nicht gelaufen ->
        200 source_status="not_ingested" (nie 5xx).
      x-description-en: >-
        Returns a city's energy installations (PV/wind/storage/biogas) from the
        offline-prepared MaStR SQLite store in the canonical envelope. No
        upstream in the request path; the request only reads the prepared store.
        Disabled -> 200 source_status="disabled". Batch not yet run -> 200
        source_status="not_ingested" (never 5xx).
      operationId: getCityEnergy
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: >-
            Energie-Envelope. data ist eine Liste von CanonicalRecord
            (EnergyAssetPayload) oder null/leer, je nach source_status.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - type: array
                        items:
                          $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/vehicle-registrations:
    get:
      tags: [cities]
      summary: Pkw-Bestand und Elektro-Anteil je Stadt (KBA, Tier A)
      x-summary-en: Car stock and electric share per city (KBA, Tier A)
      description: >-
        Liefert den Pkw-Bestand und den Elektro-Anteil einer Stadt aus dem offline
        aufbereiteten KBA-SQLite-Store im kanonischen Envelope. Die regionale
        Auflösung ist der Zulassungsbezirk (= Kreis bzw. kreisfreie Stadt) und
        wird über district/district_key ehrlich ausgewiesen. Kein Upstream im
        Request-Pfad, der Abruf liest nur den vorbereiteten Bestand. Deaktiviert ->
        200 source_status="disabled". Batch noch nicht gelaufen -> 200
        source_status="not_ingested" (nie 5xx).
      x-description-en: >-
        Returns a city's car stock and electric share from the offline-prepared
        KBA SQLite store in the canonical envelope. The spatial resolution is the
        registration district (= county or county-free city) and is honestly
        reported via district/district_key. No upstream in the request path; the
        request only reads the prepared store. Disabled -> 200
        source_status="disabled". Batch not yet run -> 200
        source_status="not_ingested" (never 5xx).
      operationId: getCityVehicleRegistrations
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: >-
            Fahrzeug-Envelope. data ist ein CanonicalRecord
            (VehicleRegistrationPayload) oder null, je nach source_status.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/accidents:
    get:
      tags: [cities]
      summary: Straßenverkehrsunfälle je Stadt (Unfallatlas, Tier A)
      x-summary-en: Road traffic accidents per city (accident atlas, Tier A)
      description: >-
        Liefert das jährliche Unfall-Aggregat einer Stadt aus dem offline
        aufbereiteten Unfallatlas-SQLite-Store im kanonischen Envelope: Gesamtzahl
        sowie Aufschlüsselung nach Unfallkategorie (Getötete/Schwer-/
        Leichtverletzte) und beteiligter Verkehrsart (Rad/Fuß/Pkw/Krad).
        Regionale Auflösung Kreis/kreisfreie Stadt. Kein Upstream im Request-Pfad.
        Deaktiviert -> 200 source_status="disabled". Batch noch nicht gelaufen ->
        200 source_status="not_ingested" (nie 5xx).
      x-description-en: >-
        Returns a city's annual accident aggregate from the offline-prepared
        accident-atlas SQLite store in the canonical envelope: total plus a
        breakdown by accident category (fatal/serious/slight) and by participant
        type (bicycle/pedestrian/car/motorcycle). Spatial resolution county/
        county-free city. No upstream in the request path. Disabled -> 200
        source_status="disabled". Batch not yet run -> 200
        source_status="not_ingested" (never 5xx).
      operationId: getCityAccidents
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Unfall-Envelope (CanonicalRecord mit AccidentPayload oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/crime-stats:
    get:
      tags: [cities]
      summary: Polizeiliche Kriminalstatistik je Stadt (BKA PKS, Tier A)
      x-summary-en: Police crime statistics per city (BKA PKS, Tier A)
      description: >-
        Liefert die polizeiliche Kriminalstatistik je Kreis aus dem offline
        aufbereiteten BKA-PKS-SQLite-Store im kanonischen Envelope: je
        Hauptstraftatengruppe (z.B. Straftaten insgesamt, Gewaltkriminalität,
        Wohnungseinbruchdiebstahl) die erfassten Fälle, die Häufigkeitszahl je
        100.000 Einwohner und die Aufklärungsquote in Prozent, dazu Berichtsjahr
        (reference_year) und Version. Lizenz DL-DE/BY 2.0 (Tier A). Regionale
        Auflösung Kreis/kreisfreie Stadt. Kein Upstream im Request-Pfad.
        Sperr-/Leerwerte -> null. Deaktiviert -> 200 source_status="disabled".
        Batch noch nicht gelaufen -> 200 source_status="not_ingested" (nie 5xx).
      x-description-en: >-
        Returns a city's police crime statistics per county from the offline-
        prepared BKA PKS SQLite store in the canonical envelope: per main offence
        group (e.g. total offences, violent crime, residential burglary) the
        recorded cases, the frequency per 100,000 inhabitants and the clearance
        rate in percent, plus the reporting year (reference_year) and version.
        Licence DL-DE/BY 2.0 (Tier A). Spatial resolution county/county-free
        city. No upstream in the request path. Blocked/empty values -> null.
        Disabled -> 200 source_status="disabled". Batch not yet run -> 200
        source_status="not_ingested" (never 5xx).
      operationId: getCityCrimeStats
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Kriminalstatistik-Envelope (CanonicalRecord mit CrimeStatsPayload oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/unemployment:
    get:
      tags: [cities]
      summary: Arbeitslose und Arbeitslosenquote je Stadt (GENESIS, Tier A)
      x-summary-en: Unemployment count and rate per city (GENESIS, Tier A)
      description: >-
        Liefert Arbeitslose (Anzahl) und Arbeitslosenquote (Prozent) einer Stadt
        aus der Regionalstatistik (Arbeitsmarktstatistik der Bundesagentur für
        Arbeit, Jahresdurchschnitt) im kanonischen Envelope. Regionale Auflösung
        Kreis/kreisfreie Stadt (region_name). Quelle account-gated; deaktiviert ->
        200 source_status="disabled". Kein Wert -> 200 source_status="no_data".
      x-description-en: >-
        Returns a city's unemployment count and rate from the regional statistics
        (Federal Employment Agency, annual average) in the canonical envelope.
        Spatial resolution county/county-free city. Account-gated; disabled -> 200
        source_status="disabled". No value -> 200 source_status="no_data".
      operationId: getCityUnemployment
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Regionalstatistik-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/tourism:
    get:
      tags: [cities]
      summary: Gästeübernachtungen und Ankünfte je Stadt (GENESIS, Tier A)
      x-summary-en: Overnight stays and arrivals per city (GENESIS, Tier A)
      description: >-
        Liefert Gästeübernachtungen und Gästeankünfte einer Stadt aus der
        Regionalstatistik (Monatserhebung im Tourismus, Jahressumme) im
        kanonischen Envelope. Regionale Auflösung Kreis/kreisfreie Stadt. Quelle
        account-gated; deaktiviert -> 200 source_status="disabled". Kein Wert ->
        200 source_status="no_data".
      x-description-en: >-
        Returns a city's overnight stays and guest arrivals from the regional
        statistics (tourism survey, annual sum) in the canonical envelope. Spatial
        resolution county/county-free city. Account-gated; disabled -> 200
        source_status="disabled". No value -> 200 source_status="no_data".
      operationId: getCityTourism
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Regionalstatistik-Envelope (CanonicalRecord oder null)
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/CanonicalRecord"
                      - type: "null"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          description: Unbekannte Stadt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/cities/{slug}/construction:
    get:
      tags: [cities]
      summary: Baugenehmigungen je Stadt (GENESIS, Tier A)
      x-summary-en: Building permits per city (GENESIS, Tier A)
      description: >-
        Liefert genehmigte Wohngebäude und Wohnungen einer Stadt aus der
        Regionalstatistik (Statistik der Baugenehmigungen, Jahressumme) im
        kanonischen Envelope. Regionale Auflösung Kreis/kreisfreie Stadt. Quelle
        account-gated; deaktiviert -> 200 source_status="disabled". Kein Wert ->
        200 source_status="no_data".
      x-description-en: >-
        Returns a city's permitted residential buildings and dwellings from the
        regional statistics (building permit statistics, annual sum) in the
        canonical envelope. Spatial resolution county/county-free city.
        Account-gated; disabled -> 200 source_status="disabled". No value -> 200
        source_status="no_data".
      operationId: getCityConstruction
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
[...]
